/* Ajout des variables globales */
:root {
    --primary-color: hotpink;
    --secondary-color: black;
    --background-light: #f6f6f6;
    --font-primary: "lato", sans-serif;
    --font-secondary: "commissioner", sans-serif;
    --font-accent: "condiment", cursive;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    overflow-x: hidden;
}

/* TEXT STYLES */
h1, h2, h3, h4, p, a, .about-title, .project-title, .contact-title, .contact-tagline {
    font-family: var(--font-primary);
}

h1 {
    font-size: 70px;
    line-height: 1;
}

h2, h4 {
    font-size: 20px;
}

h3 {
    font-family: var(--font-accent);
    font-size: 40px;
}
/* Styles pour la section Éducation */
.education {
    margin: 20px 0;
    padding: 10px;
    background-color: var(--background-light);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education h4 {
    margin: 5px 0;
    font-family: var(--font-primary);
    font-size: 18px;
    color: var(--secondary-color);
}

.education h4.imp {
    font-weight: bold;
    color: var(--primary-color); /* Couleur principale */
}

.education h4.imp2 {
    font-style: italic;
    color: var(--secondary-color); /* Couleur secondaire */
}
p {
    padding-top: 20%;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--primary-color);
    text-decoration: line-through;
}

/* LAYOUTS */
.header, .sidebar, .sidebar2, .sidebar3, .sidebar4 {
    position: absolute;
    background-color: pink;
}

.header {
    top: 0;
    left: 0;
    width: 15%;
    height: 9%;
    text-align: center;
}

.sidebar {
    width: 100%;
    height: 75%;
    top: 20%;
    right: 0;
}

.sidebar2 {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.strip, .strip2, .strip3 {
    background-color: transparent;
}

.strip {
    bottom: 0;
    right: 0;
    width: 7%;
    height: 35%;
    position: absolute;
}

.strip2 {
    width: 7%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.strip3 {
    text-align: center;
}

/* NAVIGATION */
.nav {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    gap: 20px; /* Espacement entre les éléments */
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    padding: 0 10px;
}

.nav ul li a {
    font-family: var(--font-secondary);
    font-size: 18px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: var(--primary-color);
}

.nav-btn {
    display: block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 30px;
    font-family: var(--font-secondary);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: var(--primary-color);
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav {
        flex-direction: column; /* Passe en colonne sur mobile */
        gap: 15px; /* Espacement entre les éléments */
    }

    .nav ul {
        flex-direction: column; /* Les liens passent en colonne */
        align-items: center;
    }

    .nav ul li {
        padding: 20px 15px; /* Espacement vertical entre les liens */
    }
    /* Responsive pour les téléphones */

    .title {
        padding-left: 5%; /* Réduit l'espace à gauche sur mobile */
    }

    .title-line span {
        font-size: 2rem; /* Réduit la taille du texte sur mobile */
    }
    
}

/* LANDING PAGE */
#landingPage, #about, #skills, #projects, #contacts {
    width: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

.title, .para {
    position: absolute;
    text-align: left;
}



.para {
    top: 70%;
    right: 10%;
}

/* SECTIONS */


.education, .experience, .skills-set {
    background-color: #f9f9f9;
    padding-top: 15px;
    padding-bottom: 15px;

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

/* PROJECTS */
.project {
    width: 30%;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.projects-container {
    position: absolute;
    top: 10%;
    width: 100%;
}

.pro-img {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.6s, opacity 0.6s;
}

.pro-img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* CONTACT */
.contact-me {
    width: 50%;
    margin: 5% auto 0;
}

/* FOOTER */
#footer {
    width: 100%;
    height: 30vh;
    background-color: var(--background-light);
    position: relative;
}

.logo {
    position: absolute;
    top: 10%;
    left: 0;
    width: 15%;
    height: 28%;
    background-color: pink;
    text-align: center;
}

.footer-social-icons ul {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
}

.footer-social-icons ul li {
    margin: 0 15px;
}

.footer-social-icons ul li a {
    background: var(--secondary-color);
    color: #666;
    border-radius: 50%;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: black;
	border-radius: 50%;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, .4);
	font-size: 30px;
	color: #666;
	transition: -5s;
}

.footer-social-icons ul li a:before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: hotpink;
    transition: .5s;
transform: scale(.9);
	z-index: -1;
}

.footer-social-icons ul li a:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px hotpink;
}

.footer-social-icons ul li a:hover {
    color: hotpink;
    box-shadow: 0 0 5px hotpink;
	text-shadow: 0 0 5px hotpink;
}

.sidebar2 {
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: pink;
	text-align: center;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-light);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h3 {
    font-family: var(--font-primary);
    font-size: 24px;
    color: var(--secondary-color);
}

.nav {
    display: none; /* Masqué par défaut sur mobile */
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: var(--background-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.nav ul li {
    padding:10px 10px ;
}

.nav ul li a {
    font-family: var(--font-secondary);
    font-size: 18px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: var(--primary-color);
}

.nav-btn {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 30px;
    font-family: var(--font-secondary);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: var(--primary-color);
}

/* Hamburger Menu */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Active Hamburger */
.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Show Navigation */
.nav.active {
    display: flex;
}

/* Responsive Design */
@media (min-width: 767px) {

    .header h3 span {
        display: inline-block;
        transform-origin: bottom; /* Point d'origine pour la rotation */
        transform: rotateX(90deg); /* Position initiale hors de vue */
        opacity: 0; /* Initialement invisible */
        transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    }
    
    /* Classe pour déclencher l'animation */
    .header h3 span.animate {
        transform: rotateX(0); /* Retourne à sa position normale */
        opacity: 1; /* Rendu visible */
    }
    .header, .sidebar, .sidebar2 {
        width: 100%;
    }
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
    .project {
        width: 80%;
        margin: 20px auto;
    }

    .pro-img {
        max-width: 50%;
        height: 50%;
    }
	#skills {
        grid-template-columns: 1fr;
    }

    .strip3 {
        grid-column: span 1;
    }

    .photo {
        width: 120px;
        height: 120px;
    }

    .education, .experience, .skills-set {
        padding: 10px;
    }

    .skills-set ul {
        text-align: center;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .nav {
        display: flex;
        flex-direction: row;
        position: static;
        box-shadow: none;
        width: auto;
    }

    .nav ul {
        display: flex;
        justify-content: space-between;
    }

    .nav ul li {
        padding: 20px 15px;
    
    }

    .hamburger {
        display: none;
    }
}

/* Styles pour le conteneur des titres */
.title {
    display: flex;
    flex-direction: column; /* Les titres sont empilés verticalement */
    justify-content: flex-start; /* Centre verticalement */
    align-items: flex-start; /* Aligne les éléments à gauche */
    height: 100vh; /* Occupe toute la hauteur de l'écran */
    text-align: left; /* Aligne le texte à gauche */
    padding-left: 10%; /* Ajoute un espace à gauche pour le positionnement */

}

.title-line {
    display: flex; /* Permet d'aligner les lettres horizontalement */
    justify-content: flex-start; /* Aligne les lettres à gauche */
    align-items: center;
    font-family: var(--font-primary);
    font-size: 5rem; /* Taille par défaut pour les écrans larges */
    font-weight: bold;
    color: var(--secondary-color);
    margin: 10px 0;
    overflow: hidden; /* Cache les lettres en dehors du conteneur */
}
/* Animation flap */
@keyframes flap {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    50% {
        transform: rotateX(-20deg);
        opacity: 1;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}
/* Ajout de délais pour chaque lettre */
.title-line span:nth-child(1) {
    animation-delay: 0.1s;
}
.title-line span:nth-child(2) {
    animation-delay: 0.2s;
}
.title-line span:nth-child(3) {
    animation-delay: 0.3s;
}
.title-line span:nth-child(4) {
    animation-delay: 0.4s;
}
.title-line span:nth-child(5) {
    animation-delay: 0.5s;
}
.title-line span:nth-child(6) {
    animation-delay: 0.6s;
}
.title-line span:nth-child(7) {
    animation-delay: 0.7s;
}
.title-line span:nth-child(8) {
    animation-delay: 0.8s;
}
.title-line span:nth-child(9) {
    animation-delay: 0.9s;
}


/* Effet d'apparition avec Locomotive Scroll */
[data-scroll].is-inview {
    opacity: 1; /* Rendu visible lorsqu'il est dans la vue */
    transform: translateY(0); /* Retourne à sa position normale */
}


/* SCROLL EFFECTS */
[data-scroll] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

[data-scroll].is-inview {
    opacity: 1;
    transform: translateY(0);
}

[data-scroll-sticky] {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 10px;
}

/* ANIMATIONS (groupées) */
@keyframes floatY {
    from {
        transform: translate(0);
    }
    to {
        transform: translateY(40px);
    }
}

@keyframes floatDown {
    from {
        transform: translate(0);
    }
    to {
        transform: translateY(200px);
    }
}

@keyframes rotateMove {
    from {
        transform: translate(0) rotate(0);
    }
    to {
        transform: translateY(-100px) rotate(90deg);
    }
}

/* SVGs Animation */
.svg2, .svg4, .svg5, .svg6, .svg7, .svg8, .svg9, .svg10, .svg11 {
    position: absolute;
    z-index: -1;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}



.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.popup-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
/* Loader Styles */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color); /* Couleur de fond du loader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loader.hidden {
    opacity: 0;
    visibility: hidden;
}

.intro-title {
    font-family: var(--font-accent);
    font-size: 5rem;
    color: var(--primary-color);
    animation: fadeIn 1.5s ease-in-out infinite alternate;
}

/* Animation de fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
/* Styles pour la boîte .box */
.box {
    width: 80%; /* Largeur de la boîte */
    max-width: 1200px; /* Largeur maximale */
    height: 80%; /* Largeur de la boîte */
    max-height: 1200px; /* Largeur maximale */
    margin: 50px auto; /* Centrer horizontalement avec un espacement vertical */
    padding: 20px; /* Espacement interne */
    background-color: var(--background-light); /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    text-align: justify; /* Justifie le texte */
    line-height: 1.6; /* Espacement entre les lignes */
}

/* Bouton Résumé */
.nav-btn.pos {
    display: inline-block;
    margin-top: 20px; /* Espacement au-dessus du bouton */
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 30px;
    font-family: var(--font-secondary);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-btn.pos:hover {
    background-color: var(--primary-color);
}

/* Popup */
.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.popup-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}